openapi: 3.0.1
info:
  title: 默认模块
  description: 跳蚤市场系统接口文档
  version: 1.0.0
tags:
  - name: 二手物品分类管理
paths:
  /category/{id}:
    put:
      summary: 更新二手物品分类
      deprecated: false
      description: 管理员更新二手物品分类信息
      operationId: updateCategory
      tags:
        - 二手物品分类管理
      parameters:
        - name: id
          in: path
          description: 分类ID
          required: true
          example: 0
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseBoolean'
          headers: {}
      security: []
    delete:
      summary: 删除二手物品分类
      deprecated: false
      description: 管理员根据ID删除二手物品分类
      operationId: deleteCategory
      tags:
        - 二手物品分类管理
      parameters:
        - name: id
          in: path
          description: 分类ID
          required: true
          example: 0
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseBoolean'
          headers: {}
      security: []
  /category/add:
    post:
      summary: 添加二手物品分类
      deprecated: false
      description: 管理员添加新的二手物品分类
      operationId: addCategory
      tags:
        - 二手物品分类管理
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryAddRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseLong'
          headers: {}
      security: []
  /category/list:
    get:
      summary: 获取所有二手物品分类
      deprecated: false
      description: 获取系统中所有的二手物品分类信息及其商品数量
      operationId: getCategoryList
      tags:
        - 二手物品分类管理
      parameters: []
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseListCategoryVO'
          headers: {}
      security: []
components:
  schemas:
    CategoryAddRequest:
      type: object
      properties:
        name:
          type: string
    Category:
      type: object
      description: 分类信息
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        deleted:
          type: integer
          format: int32
    BaseResponseBoolean:
      type: object
      properties:
        code:
          type: integer
          format: int32
        data:
          type: boolean
        message:
          type: string
        hashMap:
          type: object
          additionalProperties: {}
          properties: {}
    BaseResponseLong:
      type: object
      properties:
        code:
          type: integer
          format: int32
        data:
          type: integer
          format: int64
        message:
          type: string
        hashMap:
          type: object
          additionalProperties: {}
          properties: {}
    BaseResponseListCategoryVO:
      type: object
      properties:
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/CategoryVO'
        message:
          type: string
        hashMap:
          type: object
          additionalProperties: {}
          properties: {}
    CategoryVO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        productCount:
          type: integer
          format: int64
  responses: {}
  securitySchemes: {}
servers: []
security: []
