openapi: 3.0.1
info:
  title: 默认模块
  description: 跳蚤市场系统接口文档
  version: 1.0.0
tags:
  - name: 图片管理
paths:
  /image:
    post:
      summary: 通用图片上传
      deprecated: false
      description: 通用图片上传接口，可指定图片类型
      operationId: uploadImage
      tags:
        - 图片管理
      parameters:
        - name: type
          in: query
          description: 图片类型
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 图片文件
              required:
                - file
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseImageUploadResponse'
          headers: {}
      security: []
    delete:
      summary: 删除图片
      deprecated: false
      description: 根据图片URL删除图片
      operationId: deleteImage
      tags:
        - 图片管理
      parameters:
        - name: imageUrl
          in: query
          description: 图片URL
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseBoolean'
          headers: {}
      security: []
  /image/product:
    post:
      summary: 上传二手物品图片
      deprecated: false
      description: 上传二手物品相关图片，支持单张或多张图片上传
      operationId: uploadProductImage
      tags:
        - 图片管理
      parameters:
        - name: files
          in: query
          description: 二手物品图片文件，支持单个文件或多个文件
          required: true
          schema:
            type: array
            items:
              type: string
              format: binary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseObject'
          headers: {}
      security: []
  /image/news:
    post:
      summary: 上传新闻配图
      deprecated: false
      description: 上传新闻文章配图
      operationId: uploadNewsImage
      tags:
        - 图片管理
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 新闻配图文件
              required:
                - file
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseImageUploadResponse'
          headers: {}
      security: []
  /image/batch:
    post:
      summary: 批量上传图片
      deprecated: false
      description: 批量上传多张图片
      operationId: uploadBatchImages
      tags:
        - 图片管理
      parameters:
        - name: files
          in: query
          description: 图片文件数组
          required: true
          schema:
            type: array
            items:
              type: string
              format: binary
        - name: type
          in: query
          description: 图片类型
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseImageUploadResponse%5B%5D'
          headers: {}
      security: []
    delete:
      summary: 批量删除图片
      deprecated: false
      description: 批量删除多张图片
      operationId: deleteBatchImages
      tags:
        - 图片管理
      parameters:
        - name: imageUrls
          in: query
          description: 图片URL数组
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseBoolean'
          headers: {}
      security: []
  /image/avatar:
    post:
      summary: 上传用户头像
      deprecated: false
      description: 用户上传个人头像图片
      operationId: uploadAvatar
      tags:
        - 图片管理
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 头像图片文件
              required:
                - file
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BaseResponseImageUploadResponse'
          headers: {}
      security: []
components:
  schemas:
    BaseResponseBoolean:
      type: object
      properties:
        code:
          type: integer
          format: int32
        data:
          type: boolean
        message:
          type: string
        hashMap:
          type: object
          additionalProperties: {}
          properties: {}
    BaseResponseImageUploadResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/ImageUploadResponse'
        message:
          type: string
        hashMap:
          type: object
          additionalProperties: {}
          properties: {}
    ImageUploadResponse:
      type: object
      properties:
        originalUrl:
          type: string
        thumbnailUrls:
          type: object
          additionalProperties:
            type: string
          properties: {}
        fileSize:
          type: integer
          format: int64
        format:
          type: string
        uploadTime:
          type: string
          format: date-time
    BaseResponseImageUploadResponse[]:
      type: object
      properties:
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/ImageUploadResponse'
        message:
          type: string
        hashMap:
          type: object
          additionalProperties: {}
          properties: {}
    BaseResponseObject:
      type: object
      properties:
        code:
          type: integer
          format: int32
        data: {}
        message:
          type: string
        hashMap:
          type: object
          additionalProperties: {}
          properties: {}
  responses: {}
  securitySchemes: {}
servers: []
security: []
